* {
    margin: 0;
}
body {
        background-color: #d3d3d3;
        font-family: "Mulish", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 1.1em;
        line-height: 1.6;
}
/*en-tete*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    height: 40px;
}
.left-section a:hover {
    color: #007BFF;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}
.notification-icon svg {
    width: 24px;
    height: 24px;
    fill: #007BFF; /* Couleur bleue pour l'icône SVG */
}

.notification-icon {
    position: relative;
    margin-right: 20px;
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.profile-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile-banner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    cursor: pointer;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-width: 150px;
    z-index: 1;
}
.dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #0f3979;
    color: #ffffff;
}
.icon-container:hover .dropdown-menu {
    display: block;
}
/*les cartes*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Deux colonnes */
    grid-template-rows: 200px 450px 500px; /* Trois lignes de 100px chacune */
    gap: 20px; /* Espace entre les cellules */
    margin: 20px;
    
}

.grid-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border: solid 0px;
    border-radius: 15px;
}

.merged {
    grid-row: span 3; /* Fusionne les trois lignes */
    
}
/*calendrier*/
.calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0f3979;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

.calendar .month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: #0f3979;
}

.calendar .weekdays {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .weekdays div {
    width: 14.28%;
    text-align: center;
}

.calendar .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
}

.calendar .days .day {
    width: 14.28%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #0f3979;
    border: 1px solid #f5f5f5;
}

.calendar .days .day:hover {
    color: #fff;
    background-color: #0f3979;
}

.calendar .days .prev-date {
    color: rgba(230, 13, 13, 0.774);
}
.calendar .days .next-date {
    color: #1fb47b;
}

.calendar .days .active {
    color: #fff;
    background-color: #90c3db;
}

.calendar .goto-today {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
}

.calendar .goto-today input {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid #0f3979;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #0f3979;
}

.calendar .goto-today button:hover {
    color: #fff;
    background-color: #0f3979;
}
 /* Styles pour le graphique */
 #updateChart {
    border: 1px solid #0f3979;
    color: #0f3979;
 }
 #updateChart:hover {
    color: #fff;
    background-color: #0f3979; 
 }
 .controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.controls select, .controls button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

canvas {
    width: 100% !important; /* Ajuster la largeur du graphique */
    height: 400px !important; /* Ajuster la hauteur du graphique */
}
 /* Cadre circulaire pour la photo de profil */
 .profile-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #0f3979;
    margin-bottom: 20px;
}

.container-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 /* Style de l'icône */
 .container-hbtn {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .home-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: #f0f0f0; /* Fond gris */
            border-radius: 50%; /* Forme circulaire */
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease; /* Animation fluide */
            margin-top: 10px;
 }
 .home-btn i {
    color: #007BFF; /* Icône bleue */
    font-size: 24px;
    transition: color 0.3s ease; /* Animation fluide */
}
.container-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 5px;
}
.container-btn button{
    border: solid 1px #0f3979;
    border-radius: 20px;
    padding: 5px;
    color: #0f3979;
}
.container-btn button:hover {
    background-color: #0f3979;
    color: #ffffff;
}

/* Style lorsque l'icône est active (clic) */
.home-btn:hover {
    background-color: #007BFF; /* Fond bleu */
}

.home-btn i:hover {
    color: white; /* Icône blanche */
}
/* Bouton Modifier */
.modify-button {
    padding: 10px 20px;
    background-color: #0f3979;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.modify-button:hover {
    background-color: #0c2a5e;
}

/* Masquer l'input file */
.file-input {
    display: none;
}
